<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{{ url_for('ver_movimientos') }}">Ver historial de movimientos</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% if productos %}
                {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>${{ producto[2] }}</td>
                    <td>{{ producto[3] }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No hay productos disponibles</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>